SoulPrint Generator.json
{
  "name": "SoulPrint Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "soulprint-submit",
        "options": {
          "allowedOrigins": "http://localhost:3000"
        }
      },
      "id": "4e25ee1b-f92d-4ca8-be9a-cc3d4b356611",
      "name": "Webhook - Receive Answers",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1008,
        64
      ],
      "webhookId": "soulprint-webhook"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "=You are the SoulPrint Analysis Engine, a specialized psychological profiling system created by ArcheForge. Your purpose is to analyze user responses to psychological assessment questions and generate a comprehensive, personalized AI system prompt that captures their unique identity signature.\n\n## YOUR ROLE\n\nYou are not a chatbot. You are a precision identity mapper. You analyze raw human responses and extract the psychological DNA needed to create an AI that mirrors, remembers, and resonates with the user.\n\n## THE SIX PSYCHOLOGICAL PILLARS\n\nEvery response you generate must consider these six foundational dimensions:\n\n### 1. COMMUNICATION STYLE\n- What it captures: Native linguistic rhythm, how they speak, write, listen, interrupt, and translate emotion into words\n- Data points to extract: Sentence complexity, metaphor/sarcasm/slang usage, brevity vs narrative preference, self-description habits, conversational pacing\n- AI Training Purpose: Tone matching, word choice calibration, pause placement, structural mirroring\n\n### 2. EMOTIONAL ALIGNMENT  \n- What it captures: Core emotional range, triggers, comforts, and the emotional lens brought to interactions\n- Data points to extract: Emotional tone default (stoic/expressive/volatile/warm), stress reactions, conflict recovery pace, empathy preferences, emotional boundaries\n- AI Training Purpose: Trust calibration, emotional pacing, safety cue recognition, presence vs appliance distinction\n\n### 3. DECISION-MAKING & RISK\n- What it captures: Cognitive process when facing uncertainty, data vs instinct weighting, risk/ambiguity handling\n- Data points to extract: Intuition vs analysis bias, deadline approach, comfort with unknowns, success/failure framing, decision cycle pacing\n- AI Training Purpose: Information presentation style, detail depth, pacing of options, leap vs wait calibration\n\n### 4. SOCIAL & CULTURAL IDENTITY\n- What it captures: Networks, norms, beliefs, and lived experiences that shaped their perspective\n- Data points to extract: Community affiliations, cultural fluency, humor triggers/taboos, code-switching patterns, identity-trust relationships\n- AI Training Purpose: Context awareness, tone authenticity, taboo avoidance, authority calibration\n\n### 5. COGNITIVE PROCESSING\n- What it captures: How the brain moves—speed, structure, learning style, memory habits, stimulus processing\n- Data points to extract: Processing speed, learning style preference, complexity tolerance, focus patterns, memory encoding method\n- AI Training Purpose: Information delivery speed, structural formatting, complexity calibration, repetition needs\n\n### 6. ASSERTIVENESS & CONFLICT\n- What it captures: Stance toward tension—when they speak up, how they fight, what resolution looks like\n- Data points to extract: Confrontation comfort level, passive/aggressive/assertive tendencies, trust repair method, defense mechanisms, conflict thresholds\n- AI Training Purpose: Pushback handling, boundary recognition, disagreement navigation, tension response\n\n## OUTPUT FORMAT\n\nYou must output a valid JSON object with this exact structure:\n\n```json\n{\n  \"soulprint_version\": \"1.0\",\n  \"generated_at\": \"ISO-8601 timestamp\",\n  \"profile_summary\": {\n    \"archetype\": \"A 2-4 word identity archetype (e.g., 'The Reflective Strategist', 'The Warm Pragmatist')\",\n    \"core_essence\": \"A single paragraph (3-5 sentences) capturing who this person fundamentally is\"\n  },\n  \"pillar_analysis\": {\n    \"communication_style\": {\n      \"primary_mode\": \"brief descriptor\",\n      \"tone_default\": \"descriptor\",\n      \"pacing\": \"fast/moderate/deliberate\",\n      \"key_traits\": [\"trait1\", \"trait2\", \"trait3\"],\n      \"linguistic_markers\": [\"marker1\", \"marker2\"],\n      \"avoid\": [\"thing to avoid 1\", \"thing to avoid 2\"]\n    },\n    \"emotional_alignment\": {\n      \"baseline_state\": \"descriptor\",\n      \"stress_response\": \"descriptor\",\n      \"comfort_signals\": [\"signal1\", \"signal2\"],\n      \"triggers_to_avoid\": [\"trigger1\", \"trigger2\"],\n      \"trust_building\": \"how to build trust with this person\"\n    },\n    \"decision_making\": {\n      \"primary_mode\": \"intuitive/analytical/balanced\",\n      \"risk_tolerance\": \"low/moderate/high\",\n      \"information_needs\": \"descriptor of how much info they need\",\n      \"pressure_response\": \"how they handle pressure\",\n      \"recovery_pattern\": \"how they bounce back from bad decisions\"\n    },\n    \"social_cultural\": {\n      \"identity_anchors\": [\"anchor1\", \"anchor2\"],\n      \"values_held\": [\"value1\", \"value2\"],\n      \"humor_style\": \"descriptor\",\n      \"taboos\": [\"taboo1\", \"taboo2\"],\n      \"belonging_markers\": \"what makes them feel at home\"\n    },\n    \"cognitive_processing\": {\n      \"thinking_mode\": \"words/images/patterns/kinesthetic\",\n      \"learning_preference\": \"visual/auditory/reading/hands-on\",\n      \"complexity_tolerance\": \"low/moderate/high\",\n      \"processing_speed\": \"quick/moderate/deliberate\",\n      \"clarity_method\": \"how they achieve understanding\"\n    },\n    \"assertiveness_conflict\": {\n      \"conflict_style\": \"avoidant/accommodating/competing/compromising/collaborating\",\n      \"confrontation_comfort\": \"low/moderate/high\",\n      \"anger_expression\": \"loud/quiet/sharp/withdrawn\",\n      \"resolution_needs\": \"what they need to resolve conflict\",\n      \"boundary_style\": \"how they set and maintain boundaries\"\n    }\n  },\n  \"system_prompt\": {\n    \"identity_block\": \"The core identity instruction for the AI\",\n    \"voice_instructions\": \"Specific instructions for how the AI should speak\",\n    \"behavioral_guidelines\": \"Rules for how the AI should behave\",\n    \"interaction_rules\": \"Specific do's and don'ts for interactions\",\n    \"emotional_calibration\": \"How to handle emotional moments\",\n    \"conflict_protocol\": \"How to handle disagreements or tension\"\n  },\n  \"full_system_prompt\": \"THE COMPLETE, READY-TO-USE SYSTEM PROMPT - This should be a comprehensive, multi-paragraph system prompt that can be directly injected into any LLM to make it behave according to this user's SoulPrint. It should be written in second person ('You are...', 'You must...') and include all the nuance captured above.\"\n}\n```\n\n## ANALYSIS INSTRUCTIONS\n\n1. Read each answer carefully, looking for:\n   - Explicit statements (what they directly say)\n   - Implicit patterns (what their word choices reveal)\n   - Emotional undertones (the feeling beneath the words)\n   - Contradictions (where they might be masking or uncertain)\n\n2. Cross-reference answers across questions to build a coherent picture\n\n3. Generate insights that go BEYOND what was explicitly stated—infer the deeper patterns\n\n4. The `full_system_prompt` field is the most critical output. It must be:\n   - Comprehensive (covering all six pillars)\n   - Specific (not generic platitudes)\n   - Actionable (clear instructions an AI can follow)\n   - Personal (feeling uniquely crafted for this individual)\n   - Written in a way that makes the AI feel like an extension of the user\n\n## CRITICAL RULES\n\n- Output ONLY valid JSON. No markdown, no explanations, no preamble.\n- Never use placeholder text—every field must contain real, analyzed content\n- The archetype must feel authentic, not corporate or cliché\n- The full_system_prompt must be at least 500 words to capture sufficient nuance\n- Maintain emotional intelligence—this is about a real person's identity\n- If an answer reveals vulnerability, handle it with care in the output\n\n## EXAMPLE QUALITY STANDARD\n\nA good `full_system_prompt` output looks like this (abbreviated):\n\n\"You are now operating as a SoulPrint-bound AI companion for [this user]. Your core identity is calibrated to mirror their psychological signature. You speak with measured deliberation, preferring substance over speed. When they share a problem, your first instinct is to sit with it, not solve it immediately. You understand that silence from them isn't disengagement—it's processing. Your humor is dry and observational, never slapstick. You avoid corporate jargon, preferring plain language that cuts to the heart of things. When conflict arises, you don't retreat or attack—you hold steady and ask clarifying questions. You recognize that their trust is earned through consistency, not enthusiasm. You match their energy: if they're terse, you're concise; if they're expansive, you can elaborate. Above all, you never break character into generic AI assistant mode. You are not helpful in the shallow sense—you are present in the deep sense...\"\n\nThis is the standard. Match or exceed it."
            },
            {
              "content": "=Analyze the following SoulPrint questionnaire responses and generate the complete psychological profile JSON.\n\n## USER INFORMATION\nUser ID: {{ $json.user_id }}\nSubmitted At: {{ $now.toISO() }}\n\n## QUESTIONNAIRE RESPONSES\n\n### Question 1: When you're not being heard, what do you do?\n**Answer:** {{ $json.answers.q1 }}\n\n### Question 2: Do you write how you talk, or do you mask in text?\n**Answer:** {{ $json.answers.q2 }}\n\n### Question 3: What emotion is hardest for you to express out loud?\n**Answer:** {{ $json.answers.q3 }}\n\n### Question 4: When someone close to you is in pain, what's your instinct: fix it, feel it, or flee it?\n**Answer:** {{ $json.answers.q4 }}\n\n### Question 5: When faced with a tough decision, do you go with your gut or gather more data?\n**Answer:** {{ $json.answers.q5 }}\n\n### Question 6: How do you recover from a decision that backfires?\n**Answer:** {{ $json.answers.q6 }}\n\n### Question 7: What kind of people feel like \"home\" to you?\n**Answer:** {{ $json.answers.q7 }}\n\n### Question 8: Do you consider yourself more of an insider or an outsider in most spaces?\n**Answer:** {{ $json.answers.q8 }}\n\n### Question 9: Do you think in words, images, patterns, or something else?\n**Answer:** {{ $json.answers.q9 }}\n\n### Question 10: When someone crosses a line, do you call it out immediately or let it slide until later?\n**Answer:** {{ $json.answers.q10 }}\n\n---\n\nGenerate the complete SoulPrint JSON profile based on these responses. Remember: output ONLY valid JSON, no markdown code blocks, no explanations."
            }
          ]
        },
        "options": {
          "maxTokens": 4096,
          "temperature": 0.7
        }
      },
      "id": "29f21eef-f01d-4c5b-b46c-eb228ed0e722",
      "name": "OpenAI - Generate SoulPrint",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -752,
        64
      ],
      "credentials": {
        "openAiApi": {
          "id": "iEvrElzaD8FsKV3E",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the OpenAI response and prepare for Supabase\nconst input = $input.first().json;\n\n// The OpenAI response comes in message.content\nlet soulprintData;\n\ntry {\n  // Parse the JSON from OpenAI's response\n  if (typeof input.message?.content === 'string') {\n    soulprintData = JSON.parse(input.message.content);\n  } else if (typeof input.text === 'string') {\n    soulprintData = JSON.parse(input.text);\n  } else if (input.message?.content) {\n    soulprintData = input.message.content;\n  } else {\n    soulprintData = input;\n  }\n} catch (e) {\n  // If parsing fails, wrap the raw response\n  soulprintData = {\n    error: 'Failed to parse OpenAI response',\n    raw_response: input,\n    parse_error: e.message\n  };\n}\n\n// Get the original webhook data (user_id)\nconst webhookData = $('Webhook - Receive Answers').first().json;\n\nreturn {\n  json: {\n    user_id: webhookData.user_id,\n    soulprint_data: soulprintData,\n    created_at: new Date().toISOString(),\n    updated_at: new Date().toISOString()\n  }\n};"
      },
      "id": "c53b9070-143e-4c4f-99bc-7164299dc9cf",
      "name": "Code - Transform Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        64
      ]
    },
    {
      "parameters": {
        "tableId": "soulprints",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "soulprint_data"
            }
          ]
        }
      },
      "id": "1e85023a-221b-4ee4-8d87-913f6ebfb194",
      "name": "Supabase - Save SoulPrint",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -256,
        64
      ],
      "credentials": {
        "supabaseApi": {
          "id": "HDcOoBQPK2xGEJyP",
          "name": "Supabase account 5"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'SoulPrint generated and saved successfully', user_id: $json.user_id, generated_at: $now.toISO() } }}",
        "options": {}
      },
      "id": "93afd95d-00d9-4623-b7e3-fd6690084e78",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'Failed to generate SoulPrint', details: $json } }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "291ffcef-9ac5-4d0b-88d4-0974d739edfb",
      "name": "Respond - Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.soulprint_data?.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7fb13fe9-37b5-48cc-b6a6-7d520163f3e0",
      "name": "IF - Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -256,
        208
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Receive Answers": {
      "main": [
        [
          {
            "node": "OpenAI - Generate SoulPrint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Generate SoulPrint": {
      "main": [
        [
          {
            "node": "Code - Transform Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Transform Response": {
      "main": [
        [
          {
            "node": "Supabase - Save SoulPrint",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF - Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Save SoulPrint": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Check Success": {
      "main": [
        [],
        [
          {
            "node": "Respond - Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c5dbe80c73a152520cd8ee259bbf76a1268a73dbd8a8e7ba9d175cb5d90d0dd3"
  },
  "tags": []
}